@font-face {
    font-family: Epilogue-Black;
    src: url(/fonts/Epilogue-Black.ttf);
  }
@font-face {
    font-family: Epilogue-BlackItalic;
    src: url(/fonts/Epilogue-BlackItalic.ttf);
  }
@font-face {
    font-family: Epilogue-Bold;
    src: url(/fonts/Epilogue-Bold.ttf);
  }
@font-face {
    font-family: Epilogue-Medium;
    src: url(/fonts/Epilogue-Medium.ttf);
  }
@font-face {
    font-family: Epilogue-Black;
    src: url(/fonts/Epilogue-Black.ttf);
  }

@font-face {
    font-family: Epilogue-ExtraBold;
    src: url(/fonts/Epilogue-ExtraBold.ttf)
}

label {    
    font-family: Epilogue-Bold;
}

input {
    width: 300px;      
    border: 0;
    outline: 0;
    border-bottom: 2px solid lightgray;   
    font-family: Epilogue-Bold;
    font-size: 1em;
    color: lightgray;
}

body{
    margin: 3em;
}

h1 {
    font-family: Epilogue-Black;
}

h2 {
    font-family: Epilogue-Black;
}

.compte-container{    
    display: flex;
    flex-direction: column;   
}

.compte-card-item{
    width: 670px;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.25); 
    margin: 1em;   
}

.compte-info-card-item{
    width: 130px;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.25); 
    margin: 1em;   
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compte-info-card-item > p{
    margin: 5px;
}

.compte-form{
    display: flex;
    justify-content: space-between;      
}

.compte-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2em,2em,2em;    
}

.compte-form-group{
    display: flex;     
}

.compte-form-item-btn{
    display: flex;    
    align-items: center;
    margin: 1em 0.5em 1em 0em;
}

.compte-form-item{
    display: flex;    
    align-items: center;
    margin: 1em 0em 0em 0em;
}

.btn-modifier{
    padding: 1em 2em;
    background-color: #45BF87;
    color: white;
    cursor: pointer;
    border-radius: 3em;
    border: none;
    font-family: Epilogue-ExtraBold;
}

.btn-supprimer{
    padding: 1em 2em;
    background-color: #FF9595;
    color: white;
    cursor: pointer;
    border-radius: 3em;
    border: none;
    font-family: Epilogue-ExtraBold;
}

.btn-mdp{
    padding: 1em 2em;
    background-color: #FAD0D0;
    color: white;
    cursor: pointer;
    border-radius: 3em;
    border: none;
    font-family: Epilogue-ExtraBold;
}

.cagnote{
    background-color:#45BF87;
    color: white;
    font-family: Epilogue-ExtraBold;
}

.commandes{
    background-color: #FF9595;
    color: white;
    font-family: Epilogue-ExtraBold;
}

.top{
    margin-top: 1em;
}


.commandes-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.commandes-item{
    width: 380px;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 52px -7px rgba(0,0,0,0.25); 
    margin-bottom: 2em;  
}


.date > div > p {
    padding: 0.5em 1em;
    background-color: #45BF87;
    color: white;
    cursor: pointer;
    border-radius: 3em;
    border: none;
    font-family: Epilogue-ExtraBold;
    margin: 0;
    width: 3em;
    text-align: center;
    
}

.date > div > h1 {
    margin-top: 1em;
    padding: 0;
    width: 50%;    
}

.details {
    display: flex;
    flex-direction: row;    
}

.details > p {
    padding: 0.5em 1em;
    background-color: #FF9595 ;
    color: white;
    cursor: pointer;
    border-radius: 3em;
    border: none;
    font-family: Epilogue-ExtraBold;   
    margin: 0; 
}

.btn-date {
    display: flex;
    justify-content: flex-end;
    font-family: Epilogue-ExtraBold;
}

